# Tailscale
TS_AUTHKEY=authkey
TS_LOGIN_SERVER=https://example.com/ # Optional (Remove / unset to use "official" Tailscale servers)
TS_HOSTNAME=hostname # Something unique to identify yourself

# Database
DB_HOST=host
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=database

# MariaDB-specific
MARIADB_VERIFY_SERVER_SSL=false # Set to "true" to enable server SSL verification for MariaDB

# Compress dump (Remove / unset variable to disable compression)
DUMP_COMPRESS=true
